*{
    box-sizing: border-box;
}
body {

    background: url(./pexels-jplenio-2080960.jpg);  
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

}
p{
    font-size: 18px;
}
/* full-width input fields */
input[type=text], input[type=password] {
    padding: 20px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: 1px solid #ccc;
    background: #f1f1f1;
    border-radius: 20px;
    width: 100%;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* Set a style for all buttons */
button {
    color: white;
    padding: 14px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    opacity: 0.9;
}
button:hover {
    opacity:1;
    color: cadetblue;
}
/* extra styles for the cancel button */
.cancelbtn {
    padding: 14px 20px;
    background-color: #f44336;
    height: 50px;
    width: 200px;
    border-radius: 20px;
}
.signupbtn {
    padding: 14px 20px;
    background-color: #4CAF50;
    height: 50px;
    width: 200px;
    border-radius: 20px;
}
/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
    float: left;
}
/* Add padding to container elements */
.container {
    padding: 16px;
    height: 100%;
    width: 50%;
    display: grid;
    place-items: center;
    margin-left: 25%;
    border-radius: 20px;
}
.clearfix{
    overflow: auto;
    display: block;
    gap: 20px;
}
/* Clear floats */
.clearfix::after {  
    content: "";
    clear: both;
    display: table;
}
/*change styles for cancel button and signup button on extra small screens*/

@media screen and (max-width: 768px) {
    .cancelbtn, .signupbtn {
       width: 100px;
    }
}