* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('./pexels-eberhardgross-2098428.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    font-family: sans-serif;
}

h1 {
    text-align: center;
    color: #fff;
    margin-top: 200px;
    font-size: 50px;
}

p {
    text-align: center;
    color: #fff;
    margin-top: 10px;
    padding: 0 20px;
    font-size: 20px;
}

.nav {
    background-color: #767171;
    color: #fff;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar {
    list-style: none;
    display: flex;
    gap: 70px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
}

.nav-links a:hover {
    color: rgb(154, 154, 243);
}

#nav-check {
    display: none;
}

#toggle {
    display: none;
    font-size: 24px;
    cursor: pointer;
    color: #fff;
}

@media (max-width: 768px) {
    .nav {
        justify-content: flex-end;
    }
    #toggle {
        display: block;
    }
    .navbar {
        display: none;
        flex-direction: column;
        gap: 0;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: #767171;
        text-align: center;
    }
    .nav-links {
        padding: 15px 0;
        border-bottom: 1px solid #2c2b2b;
    }
    #nav-check:checked~.navbar {
        display: flex;
    }
}
